@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caprasimo&family=Oswald:wght@400;600&display=swap");
.titulo, .produ .produ__cards, .nosotros div, .nosotros-2 div, .trabaja-nosotros, .panes, .panes-dos, footer .footer__logo, footer .footer__iframe {
  display: flex;
  justify-content: center;
  align-items: center; }

.titulo, .trabaja-nosotros, .panes, .panes-dos {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

.fixed {
  position: fixed;
  right: 50px;
  bottom: 50px; }
  .fixed img {
    width: 50px; }

.logo-nav {
  width: 50px;
  height: 50px; }

.card {
  margin: 10px; }

/**********INDEX***********/
/*********MAIN********/
.titulo {
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/ñoquipanceta.jpg);
  background-attachment: fixed;
  flex-direction: column; }
  .titulo h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 100px;
    color: beige;
    text-align: center; }
  .titulo h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    color: beige;
    margin-left: 20px;
    text-align: center; }

.produ h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 40px;
  text-align: center;
  margin: 20px;
  padding: 15px; }

.produ .produ__cards {
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 15px; }

.mas .mas__nosotros {
  font-family: 'Bebas Neue', sans-serif;
  width: 100%;
  height: 40vh; }
  .mas .mas__nosotros h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    text-align: center;
    margin: 20px;
    padding: 15px; }
  .mas .mas__nosotros p {
    text-align: center;
    font-size: 30px; }

.mas .mas__grid {
  width: 100%;
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 150px;
  gap: 15px;
  background-color: white;
  padding: 10px; }
  .mas .mas__grid .grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 0px 86px -13px rgba(0, 0, 0, 0.1), 0px 0px 26px 26px rgba(0, 0, 0, 0.1); }
  .mas .mas__grid .primer-item {
    grid-row: span 2; }
  .mas .mas__grid .tercer-item {
    grid-row: span 2; }
  .mas .mas__grid .cuarto-item {
    grid-row: span 2; }

/*************NOSOTROS*************/
.nosotros {
  display: flex;
  width: 100%;
  height: 50vh;
  padding: 10px; }
  .nosotros div {
    flex-direction: column; }
    .nosotros div h1 {
      font-family: 'Bebas Neue', sans-serif;
      font-size: 40px;
      text-align: center; }
    .nosotros div p {
      margin: 10px;
      margin: 10px;
      padding: 10px;
      text-align: center;
      font-family: 'Bebas Neue', sans-serif;
      font-size: 30px; }
  .nosotros img {
    width: 500px; }

.nosotros-2 {
  width: 100%;
  height: 50vh;
  padding: 10px;
  display: flex;
  flex-direction: row-reverse; }
  .nosotros-2 div {
    flex-direction: column; }
    .nosotros-2 div h2 {
      font-family: 'Bebas Neue', sans-serif;
      font-size: 40px;
      text-align: center; }
    .nosotros-2 div p {
      margin: 10px;
      padding: 10px;
      text-align: center;
      font-size: 30px;
      font-family: 'Bebas Neue', sans-serif; }
  .nosotros-2 img {
    width: 500px; }

.trabaja-nosotros {
  margin-top: 30px;
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/capeletinis.jpg);
  flex-direction: column; }
  .trabaja-nosotros h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 100px;
    color: beige;
    text-align: center; }
  .trabaja-nosotros p {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 60px;
    color: beige;
    text-align: center; }

/************CONTACTO*********/
.contacto .contacto__formulario {
  width: 100%;
  height: 70vh;
  font-family: 'Bebas Neue', sans-serif;
  text-align: center;
  background-color: white;
  color: #401712;
  font-size: 30px;
  padding: 30px; }
  .contacto .contacto__formulario input {
    font-size: 30px;
    padding: 5px 15px;
    margin: 9px; }

.contacto .slider-contacto {
  width: 100%;
  height: 50vh;
  background-image: url(../img/canelotis.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px; }

/*************PANES*********/
.panes {
  background-image: url(../img/focachafondo.jpg);
  width: 100%;
  height: 80vh;
  flex-direction: column; }
  .panes h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 100px;
    color: beige;
    text-align: center; }
  .panes h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 80px;
    color: beige;
    text-align: center; }

.panes-cards {
  width: 100%; }
  .panes-cards .panes-cards__contenedor {
    display: flex;
    justify-content: space-around;
    align-items: right;
    padding: 30px;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px; }

.panes-dos {
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/pizza.jpg); }
  .panes-dos h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 100px;
    color: beige;
    text-align: center; }

footer {
  justify-content: space-around;
  align-items: center;
  display: flex;
  height: 50vh;
  width: 100%;
  background-color: #fff1f1;
  color: black; }
  footer .footer__logo {
    height: 100%; }
    footer .footer__logo img {
      width: 150px; }
  footer .footer__container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    footer .footer__container ul {
      list-style: none; }
      footer .footer__container ul li {
        margin: 5px;
        text-decoration: underline;
        font-size: 20px;
        color: #060606; }
    footer .footer__container .footer__logos {
      padding-right: 30px;
      margin: 10px; }
      footer .footer__container .footer__logos img {
        margin: 20px;
        width: 50px; }
