@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caprasimo&family=Oswald:wght@400;600&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

.fixed {
  position: fixed;
  right: 50px;
  bottom: 50px; }
  .fixed img {
    width: 50px; }

.logo-nav {
  width: 50px;
  height: 50px; }

.card {
  margin: 10px; }

/**********INDEX***********/
/*********MAIN********/
.titulo {
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/ñoquipanceta.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .titulo h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 100px;
    color: beige;
    text-align: center; }
  .titulo h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    color: beige;
    margin-left: 20px;
    text-align: center; }

.produ h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 40px;
  text-align: center;
  margin: 20px;
  padding: 15px; }

.produ .produ__cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 15px; }

.mas .mas__nosotros {
  font-family: 'Bebas Neue', sans-serif;
  width: 100%;
  height: 40vh; }
  .mas .mas__nosotros h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    text-align: center;
    margin: 20px;
    padding: 15px; }
  .mas .mas__nosotros p {
    text-align: center;
    font-size: 30px; }

/*************NOSOTROS*************/
.nosotros {
  display: flex;
  width: 100%;
  height: 50vh;
  padding: 10px; }
  .nosotros div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .nosotros div h1 {
      font-family: 'Bebas Neue', sans-serif;
      font-size: 40px;
      text-align: center; }
    .nosotros div p {
      margin: 10px;
      margin: 10px;
      padding: 10px;
      text-align: center;
      font-family: 'Bebas Neue', sans-serif;
      font-size: 30px; }
  .nosotros img {
    width: 500px; }

.nosotros-2 {
  width: 100%;
  height: 50vh;
  padding: 10px;
  display: flex;
  flex-direction: row-reverse; }
  .nosotros-2 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .nosotros-2 div h2 {
      font-family: 'Bebas Neue', sans-serif;
      font-size: 40px;
      text-align: center; }
    .nosotros-2 div p {
      margin: 10px;
      padding: 10px;
      text-align: center;
      font-size: 30px;
      font-family: 'Bebas Neue', sans-serif; }
  .nosotros-2 img {
    width: 500px; }

.trabaja-nosotros {
  margin-top: 30px;
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/capeletinis.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .trabaja-nosotros h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 100px;
    color: beige;
    text-align: center; }
  .trabaja-nosotros p {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 60px;
    color: beige;
    text-align: center; }

/************CONTACTO*********/
.contacto .contacto__formulario {
  width: 100%;
  height: 70vh;
  font-family: 'Bebas Neue', sans-serif;
  text-align: center;
  background-color: white;
  color: #401712;
  font-size: 30px;
  padding: 30px; }
  .contacto .contacto__formulario input {
    font-size: 30px;
    padding: 5px 15px;
    margin: 9px; }

.contacto .slider-contacto {
  width: 100%;
  height: 50vh;
  background-image: url(../img/canelotis.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px; }

/*************PANES*********/
.panes {
  background-image: url(../img/focachafondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .panes h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 100px;
    color: beige;
    text-align: center; }
  .panes h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 80px;
    color: beige;
    text-align: center; }

.panes-cards {
  width: 100%; }
  .panes-cards .panes-cards__contenedor {
    display: flex;
    justify-content: space-around;
    align-items: right;
    padding: 30px;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px; }

.panes-dos {
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/pizza.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no repeat;
  display: flex;
  align-items: center;
  justify-content: center; }
  .panes-dos h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 100px;
    color: beige;
    text-align: center; }

footer {
  justify-content: space-around;
  align-items: center;
  display: flex;
  height: 50vh;
  display: flex;
  width: 100%;
  background-color: #363635;
  color: aliceblue; }
  footer .footer__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10p; }
    footer .footer__logo img {
      width: 100px; }
  footer .footer__container {
    display: flex;
    align-items: center;
    justify-content: center; }
    footer .footer__container ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      text-align: start;
      padding-top: 40px; }
      footer .footer__container ul li {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-family: 'Bebas Neue', sans-serif;
        padding: 15px; }
  footer .footer__logos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    flex-direction: row; }
    footer .footer__logos img {
      margin: 10px; }
