footer{
    justify-content: space-around;
    align-items: center;
    display: flex;
    height: 50vh;
    width: 100%;
    background-color: rgb(255, 241, 241);
    color: black;
    .footer__logo{
        height: 100%;
        @extend %flex;
        img{
            width: 150px;
        }
    }

    .footer__container{
        height: 100%;
          
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        ul{

            
            list-style: none;
            li{
                margin: 5px;
                text-decoration:underline;
               
                font-size: 20px;
                color: rgb(6, 6, 6);

            }
        }
        .footer__logos{
            padding-right: 30px;
            margin: 10px;
            img{
                margin: 20px;
                width: 50px;
            }
            
        }

    }
    .footer__iframe{
        @extend %flex;
    }

}