/**********INDEX***********/

/*********MAIN********/

.titulo{
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.1),
        rgba(0,0,0,0.1)
    )
    ,url(../img/ñoquipanceta.jpg) ;
    @extend %bg;
    background-attachment: fixed;
    flex-direction: column;
    @extend %flex;
    h1{
        font-family: 'Bebas Neue', sans-serif;
        font-size: nth($font-size, 5);
        color: $color-secundario;
        text-align: center;

    }
    h2{
        font-family: 'Bebas Neue', sans-serif;
        font-size: nth($font-size, 2);
        color: $color-secundario;
        margin-left: 20px;
        text-align: center;
    }
    a{
        transition: 1s;
    }
    a:hover{
        transform: scale(1.1);
    }
    



}

.produ{
    h2{
        font-family: 'Bebas Neue', sans-serif;
        font-size: nth($font-size, 2);
        text-align: center;
        margin: 20px;
        padding: 15px;
        color: $color-terciario;
    }
    .produ__cards{
        @extend %flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 15px;
        .card{
            transition: 1s;
            img{
                width: 100%;
                height: 50%;
            }
            .card-body{
                @extend %flex;
                flex-direction: column;
                h5{
                    text-decoration: underline;
                }
            }

        }
        .card:hover{
            transform: scale(1.1);
            
        }

    }
}

.mas{
    .mas__nosotros{
        font-family: 'Bebas Neue', sans-serif;
        width: 100%;
        height: 40vh;
        h2{
            font-family: 'Bebas Neue', sans-serif;
            font-size: nth($font-size, 2);
            text-align: center;
            margin: 20px;
            padding: 15px;
        }
        p{
            text-align: center;
            font-size: nth($font-size, 1);
        }
    }
    .mas__grid{
        width: 100%;
        height: 80vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 150px;
        gap: 15px;
        background-color: $color-secundario;
        padding: 10px;
        .grid-item{
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                box-shadow: 0px 0px 86px -13px rgba(0,0,0,0.1),0px 0px 26px 26px rgba(0,0,0,0.1);
            } 
        }
        .primer-item{
            grid-row: span 2; 
        }
        .tercer-item{
            grid-row: span 2;
        }
        .cuarto-item{
            grid-row: span 2;
        }        

    }
}




/*************NOSOTROS*************/

.nosotros{
    display: flex;
    width: 100%;
    height: 50vh;
    background-color: $color-secundario;
    div{
        width: 100%
        margin 10px;
        padding: 10px;
        flex-direction: column;
        @extend %flex;
        h1{
            font-family: 'Bebas Neue', sans-serif;
            font-size: nth($font-size, 2);
            text-align: center;
            color: $color-terciario;

        }
        p{
            margin: 10px;
            padding: 10px;
            text-align: center;
            font-family: 'Bebas Neue', sans-serif;
            font-size: 30px;
        }
    }
    img{
        margin: 10px;
        width: 500px;

    }
}
.nosotros-2{
    width: 100%;
    height: 50vh;
    background-color: $color-secundario;
    
    
    display: flex;
    flex-direction: row-reverse;
    div{
        flex-direction: column;
        @extend %flex;
        h2{
            font-family: 'Bebas Neue', sans-serif;
            font-size: 40px;
            text-align: center;
            color: $color-terciario;


        }
        p{
            margin: 10px;
            padding: 10px;
            text-align: center;
            font-size: nth($font-size, 1);
            font-family: 'Bebas Neue', sans-serif;

        }
    }
    img{
        width: 500px;
        margin: 10px;
    }
    
}
.trabaja-nosotros{
    background-color: $color-secundario;
    margin-top: 30px;
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.1),
        rgba(0,0,0,0.1)
    )
    ,url(../img/salmonottis.jpg) ;
    @extend %bg;
    @extend %flex;
    flex-direction: column;
    
    h2{
        font-family: 'Bebas Neue', sans-serif;
        font-size: nth($font-size, 4);
        color: beige;
        text-align: center;

    }
    p{
        font-family: 'Bebas Neue', sans-serif;
        font-size: nth($font-size, 3);
        color: $color-secundario;
        text-align: center;

    }
}

/************CONTACTO*********/

.contacto{
    background-color: $color-secundario;
    .contacto__formulario{
        @extend %flex;
        flex-direction: column;
        width: 100%;
        height: 150vh;
        font-family: 'Bebas Neue', sans-serif;
        text-align: center;
        font-size: nth($font-size, 1);
        h1{
            font-size: nth($font-size, 2);
            color: $color-terciario;
            padding: 20px;
        }
        input{
            font-size: nth($font-size, 1);
            padding: 5px 15px;
            margin: 9px;
            transition: 1s;
            
            
        }

        input:hover{
            background-color: $color-secundario;
            color: $color-terciario;
            border: 2px solid $color-terciario;
        }
        .boton{
            background-color: $color-terciario;
            color: $color-secundario;
        }
    }
    .contenedor{
        width: 100%;
        @extend %flex;
        height: 100vh;
        .imagen{
            display: flex;
            width: 600px;
            height: 430px;
            img{
                width: 0px;
                flex-grow: 1;
                object-fit: cover;
                opacity: 0.8;
                transition: 0.5s;
            }
            img:hover{
                cursor: crosshair;
                width: 300px;
                opacity: 1;
                filter: contrast(120%);
            }
        }
    }
}



/*************PANES*********/

.panes{
    background-image: url(../img/focachafondo.jpg);
    @extend %bg;
    width: 100%;
    height: 80vh;
    @extend %flex;
    flex-direction: column;
    
    h1{
        
        font-size: nth($font-size, 5);
        color: $color-secundario;
        text-align: center;

    }
    h2{
        font-size: nth($font-size, 4);
        color: $color-secundario;
        text-align: center;


    }
}
.panes-cards{
    width: 100%;
    .panes-cards__contenedor{
        display: flex;
    justify-content: space-around;
    align-items: right;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
    .card{
    
        transition: 1s;

    }
    .card:hover{
        transform: scale(1.1);
        
    }

    }
}

.panes-dos{
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.1),
        rgba(0,0,0,0.1)
    )
    ,url(../img/pizza.jpg) ;
    @extend %bg;
    @extend %flex;
    h2{
        font-size: nth($font-size, 5);
        color: $color-secundario;
        text-align: center;

    }
}


/***********TIENDA**************/

.tienda{
    width: 100%;
    height: 20vh;
    @extend %flex;
    flex-direction: column;
    h1{
        font-size: nth($font-size, 3)
        

    }
    h2{
        font-size: nth($font-size, 3);
        color: $color-terciario;
    }

}
.sorrentinos{
    .sorrentinos__sorrentino{
        flex-wrap: wrap;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .card{
            transition: 1s;
            img{
                width: 100%;
                height: 50%;
            }
            .card-body{
                @extend %flex;
                flex-direction: column;
                h5{
                    color: $color-terciario;
                }
            }

        }
        .card:hover{
            transform: scale(1.1);
            
        }

    }
    
    
}

.ravioles{
    display: flex;
    flex-direction: column;
    
    h2{
        font-size: nth($font-size, 3);
        color: $color-terciario;
        text-align: center;
        padding: 10px;
        
    }
    .ravioles__raviol{
        display: flex;
        justify-content: space-around;
        padding: 10px;
        flex-wrap: wrap;
        .card{
            transition: 1s;
            img{
                width: 100%;
                height: 60%;
            }
            .card-body{
                @extend %flex;
                flex-direction: column;
                h5{
                    color: $color-terciario;
                }
            }

        }
        .card:hover{
            transform: scale(1.1);
            
        }

    }

    }

    .nioquis{
        h3{
            font-size: nth($font-size, 3);
            color: $color-terciario;
            text-align: center;
            padding: 60px;

        }
        .nioquis__nioqui{
            display: flex;
            justify-content: space-around;
            padding: 10px;
            flex-wrap: wrap;
            .card{
                transition: 1s;
                img{
                    width: 100%;
                    height: 60%;
                    object-fit: cover
                }
                .card-body{
                    @extend %flex;
                    flex-direction: column;
                    h5{
                        color: $color-terciario;
                    }
                }
    
            }
            .card:hover{
                transform: scale(1.1);
                
            }
    
        }
    }





